/* * {
margin: 0;
padding: 0;
box-sizing: border-box;
} */

/* 
FCF7F8 light
CED3DC
90C2E7
4E8098 hard
*/

body {
font-family: 'Poppins', Arial, sans-serif;
line-height: 1.6;
color: #333;
background-color: #4E8098;
overflow-x: hidden;
}

nav a {
color: #2a2a2a;
text-decoration: none;
font-size: 3rem;
font-weight: 600;
position: relative;
}

nav a::after {
content: "";
position: absolute;
width: 0;
height: 2px;
bottom: 0;
left: 0;
background-color: #f9a826;
transition: width 0.4s;
}

nav a:hover {
color: #f9a826;
transition: ease-in-out 0.2s;
}

nav a:hover::after {
width: 100%;
}

/* Hero Section */
#hero {
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background-size: cover;
background-position: center;
background: url(/images/tate.jpg); 

position: relative;
padding: 5rem 2rem;
}

#hero h1 {
font-size: 4rem;
margin-bottom: 1rem;
}

#hero p {
font-size: 1.6rem;
max-width: 800px;
}

/* Features */
#features {
display: flex;
justify-content: center;
flex-wrap: wrap;
background-color: #f5f5f5;
padding: 2rem 2rem;
border-top: 4px solid #f9a826;
border-bottom: 4px solid #f9a826;
}

#features h2{
  padding-bottom: 1rem;
}

/* Testimonials */
#pricings {
background-color: #f5f5f5;
padding: 2rem;
border-bottom: 4px solid #f9a826;
}

.pricing {
background-color: #ffffff;
border-radius: 5px;
margin-bottom: 2rem;
padding: 1rem;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease;
}

.pricing:hover {
transform: translateY(-5px);
box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

/* Download */
#meetuss {
background-color: #f5f5f5;
padding: 2rem 2rem;
}

#meetuss h2{
  padding-bottom: 1rem;
}

/* Footer */
footer {
background-color: #333;
color: rgba(255, 255, 255, 0.95);
padding: 1rem;
text-align: center;
font-weight: 500;
font-size: 0.9rem;
}

footer a {
color: #333;
text-decoration: none;
}

footer a:hover {
color: #f9a826;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f9a826;
    color: #333;
    font-size: 80%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 1001;
  }
  
  .back-to-top:hover {
    opacity: 1;
    background-color: #d68e1f;
  }
  
  .back-to-top.show {
    opacity: 0.8;
    transform: translateY(-10px);
  }
  